.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  
  /* background: #121215; */

  overflow: hidden;
}

.loading .logo{
  height: 28px;

  animation: ping 10s ease-in-out infinite;
}

.loading .regua{
  position: fixed;
  left: 0;
  height: 100vh;
}

.loading p{
  color: #BEBEBF;

  position: fixed;
  bottom: 15%;

  font-size: 18px;

  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes ping {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}